<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" method="post" action="/setGoals">
      <input type="text" name="sex">m/f</input>
      <input type="number" name="height_feet">feet</input>
      <input type="number" name="height_inches">inches</input>
      <input type="number" name="weight">lbs</input>
      <input type="number" name="activity" step=".1">activity</input>
      <input type="text" name="goal" >goal</input>
      <input type="submit" value="submit"></input>

    </form>
  </body>
</html>
