<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form method="post">
      <input type="text" name="name">Please enter the athlete name</input>
      <input type="number" name="age">How old are you?</input>
      <input type="text" name="email">Email Address</input>
      <input type="password" name="password">Please enter a password</input>
      <input type="submit" value="submit"></input>
    </form>
    <h1>Bom Dia</h1>
  </body>
</html>
